<div class="p-extension HIDE">
  <div class="p-extension-frame">
    <div class="p-extension-scroll">
      <div class="p-extension-content"></div>
    </div>
  </div>
  <div class="p-extension-button">
    <img class="p-extension-front" src="<%- theme.extension.icons.normal %>">
    <img class="p-extension-back" src="<%- theme.extension.icons.reverse %>">
  </div>
</div>