<div class="p-search HIDE">
  <div class="p-search-dialog">
    <div class="p-search-dialog-bar">
      <div class="p-search-dialog-button" data-lang="search.button"></div>
      <input class="p-search-dialog-input" type="text" data-lang="search.placeholder" data-lang-placeholdered>
    </div>
    <div class="p-search-dialog-result"></div>
  </div>
</div>