<div class="p-timeline HIDE">
  <div class="p-timeline-caption">
    <%- theme.timeline.icon %>
    <span data-lang="timeline.caption"></span>
  </div>
  <div class="p-timeline-items">
    <div class="p-timeline-item">
      <div class="p-timeline-head">
        <div class="p-timeline-year"></div>
        <div class="p-timeline-count" data-lang="timeline.count" data-lang-params></div>
      </div>
      <div class="p-timeline-row">
        <div class="p-timeline-date"></div>
        <div class="p-timeline-content">
          <div class="p-timeline-title"></div>
          <div class="p-timeline-excerpt markdown-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>