<div class="p-toc HIDE">
  <div class="p-toc-caption">
    <%- theme.toc.icon %>
    <span data-lang="toc.caption"></span>
  </div>
  <div class="p-toc-main">
    <div class="p-toc-message" data-lang="toc.noheadings"></div>
    <div class="p-toc-list"></div>
  </div>
</div>