<div class="p-translater HIDE">
  <div class="p-translater-bar">
    <span class="p-translater-bar-copy" data-lang="translater.copy"></span>
    <span class="p-translater-bar-to" data-lang="translater.to"></span>
    <span class="p-translater-bar-zh" data-lang="translater.zh"></span>
    <span class="p-translater-bar-split">|</span>
    <span class="p-translater-bar-en" data-lang="translater.en"></span>
    <span class="p-translater-bar-split">|</span>
    <span class="p-translater-bar-jp" data-lang="translater.jp"></span>
  </div>
  <div class="p-translater-result"></div>
</div>