.p-xaside
  width 2em
  line-height 2
  margin calc(0.5em - 1px)
  border-radius $gap * 0.5
  text-align center
  transition background 0.6s, transform 0.6s
  cursor pointer
  user-select none
  float right
  @media (min-width: $app_mobile_width_min)
    &:hover
      background var(--color-clear)
    &:active
      transform scale(0.9)
  &.active
    transform rotate(180deg)