:root
  --color-text #000000
  --color-background #ffffff
  --color-link #ff3300
  --color-clear #f3f3f3
  --color-shadow transparent
  --color-error #993333
  --color-body-back #666666
  --color-header-text #333333
  --color-header-background #ffffff
  --color-spinner-front #333333
  --color-spinner-back #ffffffee
  --color-progress-front #333333
  --color-progress-back #eeeeee
  --color-goingto-shadow #333333
  --color-menus-hover #eeeeee
  --color-menus-active-text #ffffff
  --color-menus-active-background #333333
  --color-settings-switch-on #333333
  --color-settings-switch-off #dddddd
  --color-audioplayer-lrc #555555
  --color-audioplayer-lrc-current #111111
  --color-audioplayer-lrc-background linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8))
  --color-audioplayer-lrc-mobile-back #ffffffee
  --color-post-license-back #ff330011
  --color-post-ending #dddddd
  --color-toc-link #333333
  --color-toc-active-text #ffffff
  --color-toc-active-background #333333
  --color-search-highlight #00cc99
  --color-extension-front #333333
  --color-extension-back #ffffff
  --color-extension-hover #eeeeee
  --color-records-progress-back #99cc33
  --color-records-progress-back-l #ffcc33
  --color-records-progress-front #333333
  --color-gallery #dddddd
  --color-gallery-hover #cccccc
  --color-recentposts-more-front #0099FF
  --color-recentposts-more-back #ffffff
  --color-codelib-text #0099FF
  --color-translater-highlight #33333399
  --color-notification-text #333333
  --color-iconlib-iframe-back #ffffff

:root.gray
  --color-text #000000
  --color-background #ffffff
  --color-link #ff3300
  --color-clear #f1f1f1
  --color-shadow #33333366
  --color-error #993333
  --color-body-back #f1f1f1
  --color-header-text #333333
  --color-header-background #ffffff
  --color-spinner-front #333333
  --color-spinner-back #ffffffee
  --color-progress-front #333333
  --color-progress-back #eeeeee
  --color-goingto-shadow #333333
  --color-menus-hover #eeeeee
  --color-menus-active-text #ffffff
  --color-menus-active-background #333333
  --color-settings-switch-on #333333
  --color-settings-switch-off #dddddd
  --color-audioplayer-lrc #555555
  --color-audioplayer-lrc-current #111111
  --color-audioplayer-lrc-background linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8))
  --color-audioplayer-lrc-mobile-back #ffffffee
  --color-post-license-back #ff330011
  --color-post-ending #dddddd
  --color-toc-link #333333
  --color-toc-active-text #ffffff
  --color-toc-active-background #333333
  --color-search-highlight #00cc99
  --color-extension-front #333333
  --color-extension-back #ffffff
  --color-extension-hover #eeeeee
  --color-records-progress-back #99cc33
  --color-records-progress-back-l #ffcc33
  --color-records-progress-front #333333
  --color-gallery #dddddd
  --color-gallery-hover #cccccc
  --color-recentposts-more-front #0099FF
  --color-recentposts-more-back #ffffff
  --color-codelib-text #0099FF
  --color-iconlib-iframe-back #ffffff

:root.colorful
  --color-text #000000
  --color-background #ffffffdd
  --color-link #ff3300
  --color-clear #ffffff
  --color-shadow transparent
  --color-error brown
  --color-body-back url($picurl)
  --color-header-text #000000
  --color-header-background #ffffff
  --color-spinner-front #000000
  --color-spinner-back #ffffffee
  --color-progress-front #ff3300
  --color-progress-back #ffffffdd
  --color-goingto-shadow #000000
  --color-menus-hover #ffffff99
  --color-menus-active-text #ffffff
  --color-menus-active-background #0099ff
  --color-settings-switch-on #333333
  --color-settings-switch-off #ffffff
  --color-audioplayer-lrc #333333
  --color-audioplayer-lrc-current #000000
  --color-audioplayer-lrc-background linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8))
  --color-audioplayer-lrc-mobile-back #ffffffee
  --color-post-license-back #ff330011
  --color-post-ending #009999
  --color-toc-link #000000
  --color-toc-active-text #ffffff
  --color-toc-active-background #339966
  --color-search-highlight #00cc99
  --color-records-progress-back #99cc33
  --color-records-progress-back-l #ffcc33
  --color-records-progress-front #000000
  --color-gallery #FF009966
  --color-gallery-hover #CC0066
  --color-recentposts-more-front #0099FF
  --color-recentposts-more-back #ffffff
  --color-codelib-text #0099FF
  --color-iconlib-iframe-back transparent

:root.night
  --color-text #cccccc
  --color-background #000000cc
  --color-link #ff3399
  --color-clear #333333
  --color-shadow #333333
  --color-error #ff3333
  --color-body-back #000000
  --color-header-text #cccccc
  --color-header-background #222222
  --color-spinner-front #cccccc
  --color-spinner-back #000000ee
  --color-progress-front #ff3300
  --color-progress-back #cccccc
  --color-goingto-shadow #cccccc
  --color-menus-hover #333333
  --color-menus-active-text #000000
  --color-menus-active-background #cccccc
  --color-settings-switch-on #cccccc
  --color-settings-switch-off #444444
  --color-audioplayer-lrc #aaaaaa
  --color-audioplayer-lrc-current #eeeeee
  --color-audioplayer-lrc-background linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.4))
  --color-audioplayer-lrc-mobile-back #000000ee
  --color-post-license-back #ff330011
  --color-post-ending #444444
  --color-toc-link #cccccc
  --color-toc-active-text #000000
  --color-toc-active-background #cccccc
  --color-search-highlight #00cc99
  --color-extension-front #eeeeee
  --color-extension-back #000000
  --color-extension-hover #333333
  --color-records-progress-back #99cc33
  --color-records-progress-back-l #ffcc33
  --color-records-progress-front #000000
  --color-gallery #111111
  --color-gallery-hover #222222
  --color-recentposts-more-front #0066cc
  --color-recentposts-more-back #ffffff
  --color-codelib-text #33ccff
  --color-iconlib-iframe-back #cccccc

.color_1
  color #CC0033
.color_2
  color #00CCFF
.color_3
  color #00CC99
.color_4
  color #6666FF
.color_5
  color #996666