zIndex(num)
  999999999 - num

$gap = 8px
$font_size = 16px
$progress_height = 0.6vmin
$app_width = 1366px
$drawer_width = 300px
$aside_width = 300px
$main_min_width = 320px
$app_mobile_width = $drawer_width + $aside_width + $main_min_width * 1.1 // scrollbar offset

$audioplayer_height = 56px
$audioplayer_list_height = (32px + 1px) * 9 // Meting.js list-max-height
$timeline_col_left = 120px
$post_qrcode_width = 300px
$post_nav_width = 320px