<div class="p-adframe">
  <div class="p-adframe-qrcode"><%- theme.adframe.icons.qrcode %></div>
  <div class="p-adframe-close"><%- theme.adframe.icons.close %></div>
  <div class="p-adframe-content">
    <img src="<%- theme.adframe.ad %>">
  </div>
</div>