<div class="p-codelib">
  <div class="p-codelib-caption">
    <%- theme.codelib.icons.log %>
    <span data-lang="codelib.captions.log"></span>
  </div>
  <div class="p-codelib-readme">
    <div class="p-codelib-more">
      <span class="codelib-more" data-lang="codelib.more"></span>
      <span class="codelib-less" data-lang="codelib.less"></span>
    </div>
  </div>
  <div class="p-codelib-caption">
    <%- theme.codelib.icons.stack %>
    <span data-lang="codelib.captions.stack"></span>
  </div>
  <ul class="p-codelib-list"></ul>
</div>