<div class="p-codelib">
  <div class="p-codelib-caption">
    <%- theme.codelib.icon %>
    <span data-lang="codelib.caption"></span>
  </div>
  <div class="p-codelib-readme"></div>
  <ul class="p-codelib-list"></ul>
</div>