<div p-comment data-comment-pass="<%- config.valine.pass %>" data-comment-pointer="<%- config.valine.pointer %>">
  <div p-comment-caption>
    <%- theme.comment.icon %>
    <span data-lang="comment.caption"></span>
  </div>
  <div p-comment-valine></div>
</div>