<div class="p-gallery">
  <div class="p-gallery-item">
    <div class="p-gallery-caption">
      <%- theme.gallery.icon %>
      <span></span>
    </div>
    <div class="p-gallery-image">
      <a target="_blank"><img></a>
    </div>
  </div>
</div>