<div class="p-iconlib">
  <div class="p-iconlib-caption">
    <%- theme.iconlib.icons.log %>
    <span data-lang="iconlib.captions.log"></span>
  </div>
  <div class="p-iconlib-readme">
    <div class="p-iconlib-more">
      <span class="iconlib-more" data-lang="iconlib.more"></span>
      <span class="iconlib-less" data-lang="iconlib.less"></span>
    </div>
  </div>
  <div class="p-iconlib-caption">
    <%- theme.iconlib.icons.stack %>
    <span data-lang="iconlib.captions.stack"></span>
  </div>
  <iframe class="p-iconlib-iframe" sandbox="allow-same-origin" frameBorder="0" marginheight="0px"
    marginwidth="0px"></iframe>
</div>