<div class="p-page">
  <div class="p-page-caption">
    <%- theme.page.icon %>
    <span data-lang="page.caption"></span>
  </div>
  <div class="p-page-title"></div>
  <div class="p-page-main markdown-body"></div>
</div>