<div p-panels>
  <% $forIn(theme.panels, (name, icon) => { %>
    <div p-panel data-key="<%- name %>">
      <div p-panel-caption>
        <%- icon %>
        <span data-lang="panels.<%- name %>"></span>
      </div>
      <div p-panel-items></div>
    </div>
  <% }); %>
</div>
