<div p-recentposts>
  <div p-recentposts-caption>
    <%- theme.recentposts.icons.caption %>
    <span data-lang="recentposts.caption"></span>
  </div>
  <div p-recentposts-items>
    <div p-recentpost>
      <div p-recentpost-cover>
        <div><span></span></div>
      </div>
      <div p-recentpost-title>
        <a p-recentpost-title-link></a>
      </div>
      <div p-recentpost-meta>
        <div p-recentpost-date>
          <%- theme.recentposts.icons.date %>
          <span data-lang="recentposts.date" data-lang-titled></span>
        </div>
        <div p-recentpost-updated>
          <%- theme.recentposts.icons.updated %>
          <span data-lang="recentposts.updated" data-lang-titled></span>
        </div>
        <div p-recentpost-categories>
          <%- theme.recentposts.icons.categories %>
          <span data-lang="recentposts.categories" data-lang-titled></span>
        </div>
      </div>
      <div p-recentpost-excerpt></div>
    </div>
  </div>
</div>