<div p-search>
  <div p-search-dialog>
    <div p-search-dialog-bar>
      <div p-search-dialog-button data-lang="search.button"></div>
      <input p-search-dialog-input type="text" data-lang="search.placeholder" data-lang-placeholdered>
    </div>
    <div p-search-dialog-result></div>
  </div>
</div>