<div p-timeline>
  <div p-timeline-caption>
    <%- theme.timeline.icon %>
    <span data-lang="timeline.caption"></span>
  </div>
  <div p-timeline-items>
    <div p-timeline-item>
      <div p-timeline-head>
        <div p-timeline-year></div>
        <div p-timeline-count data-lang="timeline.count" data-lang-params></div>
      </div>
      <div p-timeline-row>
        <div p-timeline-date></div>
        <div p-timeline-content>
          <div p-timeline-title></div>
          <div p-timeline-excerpt></div>
        </div>
      </div>
    </div>
  </div>
</div>