<div p-toc>
  <div p-toc-caption>
    <%- theme.toc.icon %>
    <span data-lang="toc.caption"></span>
  </div>
  <div p-toc-main>
    <div p-toc-message data-lang="toc.noheadings"></div>
    <div p-toc-list></div>
  </div>
</div>