<div p-translater>
  <div p-translater-bar>
    <span p-translater-bar-copy data-lang="translater.copy"></span>
    <span p-translater-bar-to data-lang="translater.to"></span>
    <span p-translater-bar-zh data-lang="translater.zh"></span>
    <span p-translater-bar-split>|</span>
    <span p-translater-bar-en data-lang="translater.en"></span>
    <span p-translater-bar-split>|</span>
    <span p-translater-bar-jp data-lang="translater.jp"></span>
  </div>
  <div p-translater-result></div>
</div>