<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <link rel="shortcut icon" type="image/png" href="<%= theme.favicon.small %>">
  <title><%= config.title %></title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      background: #f0f0f0;
      text-align: center;
      height: 100vh;
      width: 100%;
      line-height: 1;
    }

    a {
      color: #ff3300;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    [code] {
      font-size: 50vmin;
      color: #333333;
      padding-top: calc(50vh - 25vmin);
    }

    [message] {
      color: #333333;
      margin-top: 10vmin;
      font-weight: bold;
      line-height: 2;
      padding: 0 5vmin;
    }
  </style>
</head>

<body>
  <div code>666</div>
  <div message>
    <div>推荐使用最新<a href="https://browser.360.cn/se/">360安全浏览器</a></div>
    <div>Recommend to use the latest <a href="https://browser.360.cn/se/">360 Safe Browser</a></div>
  </div>
</body>

</html>